<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Monopoly Board</title>
  <link rel="stylesheet" href="../style/style.css"/>
</head>
<body>

  <div class="player" id="player1">
    <h2>Player 1</h2>
    <p>Score: <span id="score1">0</span></p>
    <button id="dice_player1">Roll</button>
  </div>  

  <div class="container">
    <div class="cell jail"  id="jail">Jail</div>
    <div class="cell" id="land3_1">Keff <br> 140M</div>
    <div class="cell" id="electro">electric company</div>
    <div class="cell" id="land3_">kasserine<br> 140M</div>
    <div class="cell" id="railroad">railroad</div>
    <div class="cell"id="community_chest">community_chest</div>
    <div class="cell" id="land4">Sfax<br> 180M</div>
    <div class="cell" id="land4">Gabes<br> 180M</div>
    <div class="cell" id="parking">Free Parking</div>
    <div class="cell land2" id="land2_2">Zarzis<br> 100M</div>
    <div class="cell"id="chance">chance</div>
    <div class="cell land2"id="7">Ben Gerdane<br> 100M</div>
    <div class="cell" id="land5">Tbarka<br> 220M</div>
    <div class="cell tax" id="6">Tax</div>
    <div class="cell"id="land5">Beja<br> 220M</div>
    <div class="cell railroad" id="5">railroad</div>
    <div class="cell" id="railroad">railroad</div>
    <div class="cell land1"id="4">Nabeul<br> 60M</div>
    <div class="cell"id="land6">karouin  <br> 260M</div>
    <div class="cell community_chest" id="3">community_chest</div>
    <div class="cell" id="water">water company</div>
    <div class="cell land1" id="2" >Beni Khalled <br> 60M</div>
    <div class="cell" id="land6">Sidi Bouzidi <br> 260M</div>
    <div class="cell go" id="1">Go  <br><br>(collect 200dt) </div>
    <div class="cell"id="land8">Nafta<br> 350M</div>
    <div class="cell" id="tax">Tax</div>
    <div class="cell"id="land8">Gafsa<br> 350M</div>
    <div class="cell" id="railroad">railroad</div>
    <div class="cell" id="chance">chance</div>
    <div class="cell"id="land7">Kelibia<br> 300M</div>
    <div class="cell"id="land7">Djerba<br> 300M</div>
    <div class="cell " id="jail_direction">Go to Jail</div>
     <div class="center-image">
    </div>
  </div>  
  <div class="player" id="player2">
    <h2>Player 2</h2>
    <p>Score: <span id="score2">0</span></p>
    <button id="dice_player2">Roll</button>
   </div>  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

  <script src="../script/script.js"></script>
</body>
</html>